DP_OUT=container/path
DP_LOGLEVEL=Debug
DP_ENV=DEV
DP_NAME=Test Yuri
DP_DEVICEID=b03b9338-9d77-473b-b473-201bc16a0912
DP_SHAREDACCESSKEY=
# DP_EXTRAFILESXPATH="/*[local-name()='Product']/*[local-name()='Assets']/*[local-name()='Asset']/*[local-name()='Files']/*[local-name()='File'][@Url];@Url;@FileName"