<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="azlon" value="https://nuget.pkg.github.com/Azlon-io/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <azlon>
            <add key="Username" value="m-v-k" />
            <add key="ClearTextPassword" value="" />
        </azlon>
    </packageSourceCredentials>
</configuration>
